.vs/Excell reader/v15/.suo
.vs/Excell reader/v15/Server/sqlite3/storage.ide
.vs/Excell reader/v15/sqlite3/storage.ide
Excell reader/obj/Debug/Excell reader.csproj.CoreCompileInputs.cache
Excell reader/obj/Debug/Excell reader_MarkupCompile.cache
Excell reader/obj/Debug/Excell reader_MarkupCompile.lref
*.lref
*.cache
*.ide
.vs/Excell reader/v15/.suo
*.txt
*.cache
